.course-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 17rem;
  max-height: 25rem;
}

.course-card {
  background-color: #01285b;
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  text-align: center;
  color: white;
  box-shadow: 0 4px 15px rgba(29, 79, 145, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.course-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.2);
}

.card-header {
  padding: 20px;
}

.course-logo {
  max-height: 80px;
  object-fit: contain;
}

.card-body {
  background-color: white;
  color: black;
  padding: 15px;
  border-radius: 12px;
  height: 150px;
  margin: 0 auto;
}

.course-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.course-description {
  font-size: 0.9rem;
  margin: 10px 0 0;
  line-height: 1.4;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.btn {
  font-size: 0.9rem;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: #01285b;
  background-color: white;
  border: 2px solid #01285b;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(29, 79, 145, 0.5);
}

.btn:hover {
  background-color: #01285b;
  color: white;
  box-shadow: 0 4px 15px rgba(29, 79, 145, 0.5);
}

.download-curriculum {
  margin-top: 10px;
  background-color: #ff7700;
  color: white;
  width: 100%;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(29, 79, 145, 0.5);
}

.download-curriculum:hover {
  background-color: #e65c00;
  transform: scale(1.05);
}
