/* Set the full-screen background image */
.abc {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-image: url('./bgpic.jpg');
    background-size: cover;
    background-position: center;
  }
  
  