.popular-courses {
    text-align: center;
    margin-top: 3rem;
    /* padding: 50px 20px; */
  }
  
  .section-title {
    font-size: 3.3rem;
    font-weight: bolder;
    color: #1d4f91;
  }
  
  .section-title span {
    color: #ff7f50;
  }
  
  .courses-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 4rem;
    margin-top: 40px;
  }
  
  .course-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 17rem;
    max-height: 25rem;
  }
  .course-card {
    background-color: #1d4f91;
    border-radius:12px 12px 6px 6px;
    overflow: hidden;
    width: 100%;
    max-width: 300px;   
    text-align: center;
    color: white;
  }
  
  .card-header {
    padding: 20px;
    justify-items: center;
  }
  
  .course-logo {
    max-height: 80px;
    object-fit: cover; /* Ensure images cover the container, maintaining aspect ratio */
  }
  
  
  .card-body {
    background-color: white;
    color: black;
    padding: 15px;
    border-radius:12px 12px 0 0;
    max-height: 200px;
    width: 90%;
    margin: 0 auto;
  }
  
  .course-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
  }
  
  .course-description {
    font-size: 0.8rem;
    margin: 10px 0 0;
  }
  
  .buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .btn {
    font-size: 0.9rem;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: #1d4f91;
    background-color: white;
    border: 2px solid #1d4f91;
  }
  
  .download-curriculum {
    background-color: #ff7f50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 8px;
    width: 100%;
  }
  
  .view-all-btn {
    background-color: #1d4f91;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 8px;
    margin-top: 30px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .course-card:hover {
    transform: translateY(-5px);
    transition: 0.3s;
  }
  
  .btn:hover {
    background-color: #1d4f91;
    color: white;
    transition: 0.3s;
  }
  
  .download-curriculum:hover {
    background-color: #ff5722;
    transition: 0.3s;
  }
  
  .view-all-btn:hover {
    background-color: #ff7f50;
  }
  